.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

form {
    font-size: 18px;
    text-align: left;
    margin-bottom: 30px;
}

form p {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

#quiz-results {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

#quiz-results.correct {
    color: green;
}

#quiz-results.incorrect {
    color: red;
}